.carousel-container {
    position: relative;
    background-color: $primary; // fallback background
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    height: 60rem;
    min-width: 100%;
    width: 100%;

    .carousel-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 45%;

        text-align: center;
        color: $primary;

        h1 {
            font-family: Playfair Display;
            font-weight: 100;
            font-size: 5.5rem;
            line-height: 1.2;
        }

        h2 {
            @include collection-title;
            color: $primary;
            font-size: 1rem;
            margin-bottom: 4rem;
        }

        h4 {
            font-family: Merriweather, sans-serif;
            font-size: 1rem;
            margin: 1rem 0 3rem;
        }
    }

    .carousel-next-container {
        position: absolute;

        bottom: 0;
        right: 5%;

        height: 20rem;
        width: 29rem;

        overflow: hidden;

        color: $primary;
        cursor: pointer;
        filter: drop-shadow(0 0 0.5rem rgba(0, 0, 0, 0.5));

        &:hover .carousel-next-bg {
            transform: scale(1.2);
            background-position-x: 70%;
        }

        &:hover .carousel-next-title {
            transform: scale(1.2);
            translate: 2rem 0.5rem;
        }

        .carousel-next-bg {
            position: relative;
            width: 100%;
            height: 100%;
            padding: 0 2rem;

            background-color: $primary; // fallback background
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;

            transition: all 0.4s ease-in-out;

            &::before {
                content: '';
                display: none;
                height: 100%;
                width: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.2);
            }

            &:hover::before {
                visibility: visible;
            }
        }

        .carousel-next-titles {
            display: flex;
            height: 100%;

            position: absolute;
            top: 0;
            padding: 3rem;

            .carousel-next-title {
                display: flex;
                align-self: flex-start;

                font-family: Playfair Display;
                font-size: 1.625rem;
                text-align: left;

                transition: all 0.4s ease-in-out;
            }

            .carousel-next-arrow {
                display: flex;
                align-items: center;
                align-self: flex-end;
                font-size: 0.9rem;

                transition: all 0.4s ease-in-out;

                h3 {
                    @include next;
                    font-weight: 900;
                }

                .arrow {
                    transition: opacity 0.5s, visibility 0.5s;
                    -webkit-transition: opacity 0.5s, visibility 0.5s;
                    display: flex;
                    transition: all 0.3s ease-in-out;
                }
            }
        }
    }

    .carousel-next-mobile {
        display: none;
    }
}

@media only screen and (max-width: 570px) {
    .carousel-container {
        height: 90vh;

        .carousel-content {
            width: 95%;

            h1 {
                font-size: 2.4rem;
            }

            h4 {
                margin: 3rem;
            }
        }

        .carousel-next-container {
            display: none;
        }

        .carousel-next-mobile {
            display: flex;
            align-items: center;
            color: white;

            position: absolute;
            bottom: 5%;
            right: 5%;

            h3 {
                @include next;
            }
        }
    }
}
