main {
    background-color: $primary;
    padding: 0 6rem;

    @media screen and (max-width: 768px) {
        padding: 0;
    }

    // INTRO SECTION --------------------------
    .body-intro {
        display: flex;
        flex-direction: column;
        padding: 6rem 0;

        @media screen and (max-width: 768px) {
            padding: 5rem 0;
            justify-content: center;
            align-items: center;
        }

        h1 {
            @include body-title-lg;
            width: 40%;

            @media screen and (max-width: 768px) {
                width: 90%;
            }
        }

        .body-intro-grid {
            display: flex;
            gap: 18rem;
            margin-top: -4rem;

            @media screen and (max-width: 768px) {
                gap: 2rem;
                margin: 2rem;
                flex-direction: column;
                align-items: center;
            }

            .body-intro-col1 {
                width: 80%;
            }

            .body-intro-col2 {
                width: 100%;
            }
        }

        p {
            @include body-text;
        }
    }

    // COLLECTION SECTION --------------------------

    .body-collection {
        display: flex;
        flex-direction: column;

        .body-collection-item {
            width: 100%;
            display: flex;
            text-align: center;
            align-items: center;

            &:nth-child(even) {
                display: flex;
                flex-direction: row-reverse;

                @media screen and (max-width: 768px) {
                    flex-direction: column-reverse;
                }
            }

            @media screen and (max-width: 768px) {
                flex-direction: column-reverse;
            }

            .body-collection-item-text {
                width: 50%;
                padding: 0 6rem;

                @media screen and (max-width: 768px) {
                    width: 100%;
                    padding: 0;
                }

                h2 {
                    @include body-title-md;
                    margin: 1rem 2rem;
                }

                h3 {
                    @include collection-title;
                    color: $title;
                    margin-bottom: 2rem;

                    @media screen and (max-width: 768px) {
                        margin: 2rem 0 0.5rem;
                    }
                }

                p {
                    @include body-text;
                    margin: 5rem 0;

                    @media screen and (max-width: 768px) {
                        margin: 2rem 1.4rem;
                    }
                }

                button {
                    @keyframes hover {
                        0% {
                            background-color: $text;
                        }

                        100% {
                            background-color: $primary;
                        }
                    }

                    &:hover {
                        animation-name: hover;
                        animation-duration: 0.5s;
                    }

                    @media screen and (max-width: 768px) {
                        margin: 0.5rem 0 2.4rem;
                    }
                }
            }

            .body-collection-item-image {
                display: flex;
                flex-wrap: wrap;
                align-items: flex-end;
                width: 50%;
                overflow: hidden;

                @media screen and (max-width: 768px) {
                    width: 101%;
                }

                &:hover img {
                    transform: scale(1.2);

                    @media screen and (max-width: 768px) {
                        transform: unset;
                    }
                }

                img {
                    width: 53.5rem;
                    height: 53.5rem;
                    transition: all 0.4s ease-in-out;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    // PRESS SECTION --------------------------

    .body-press {
        display: flex;
        gap: 6%;
        width: 100%;
        height: 70rem;
        padding: 10rem 0;

        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 5rem 0;
            gap: 4%;
        }

        .body-press-text {
            width: 26%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            h1 {
                @include body-title-lg;
                @media screen and (max-width: 768px) {
                    padding: 0 1.2rem;
                }
            }

            p {
                @include body-text;
                margin-top: -4rem;

                @media screen and (max-width: 768px) {
                    margin-top: 2rem;
                    text-align: left;
                    padding: 0 1.4rem;
                }
            }
        }

        .body-press-carousel {
            position: relative;
            width: 70%;

            @media screen and (max-width: 768px) {
                width: 100%;
            }

            .grey-square {
                position: absolute;
                right: 0;
                background-color: $highlight;
                width: 55rem;
                height: 100%;

                @media screen and (max-width: 768px) {
                    display: none;
                }
            }

            .press-carousel-container {
                display: flex;
                gap: 5%;
                position: absolute;
                bottom: 5%;
                left: 3%;
                z-index: 1;

                @media screen and (max-width: 768px) {
                    flex-direction: column;
                    position: static;
                    background-color: $highlight;
                    padding: 2.4rem 1.4rem;
                }

                img {
                    min-width: 40rem;
                    min-height: 32rem;

                    @media screen and (max-width: 768px) {
                        min-width: unset;
                        min-height: unset;
                    }
                }

                .press-carousel-text {
                    display: flex;
                    flex-direction: column;

                    h2 {
                        @include body-title-md;
                        font-size: 2.5rem;
                        margin: 3rem 5rem 3rem 0;

                        @media screen and (max-width: 768px) {
                            margin: 0;
                            text-align: left;
                        }
                    }

                    h3 {
                        @include collection-title;
                        font-size: 1rem;
                        letter-spacing: 0.3rem;
                        color: $secondary;
                        margin-top: 0.8rem;

                        @media screen and (max-width: 768px) {
                            font-size: 1.2rem;
                        }
                    }

                    h4 {
                        @include collection-title;
                        font-size: 1rem;

                        @media screen and (max-width: 768px) {
                            font-size: 1.2rem;
                            margin: 1.4rem 0 0 0;
                        }
                    }
                }

                .press-carousel-buttons {
                    display: flex;
                    gap: 10%;
                    margin-top: 1rem;

                    @media screen and (max-width: 768px) {
                        justify-content: center;
                        margin-top: 6rem;
                    }
                }
            }
        }
    }

    // INSTAGRAM SECTION --------------------------

    .body-instagram {
        display: grid;
        grid-template-columns: 1fr 1fr;

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
            grid-template-rows: 1fr;
        }

        .instagram-col1 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 4rem;

            background-repeat: no-repeat;
            background-position: center;

            @media screen and (max-width: 768px) {
                height: 100vh;
                gap: 2rem;
            }

            h1 {
                @include body-title-lg;
                color: $primary;
                width: 60%;
            }

            h5 {
                @include collection-title;
                color: $primary;
                font-size: 1.1rem;
                letter-spacing: 0.4rem;
                margin-top: -3rem;

                @media screen and (max-width: 768px) {
                    margin: 0;
                }
            }
        }

        .instagram-col2 {
            display: grid;
            grid-template-columns: 1fr 1fr;

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}
