// SCSS MODULES
@import 'variables';
@import '../components/Header/header';
@import '../components/BurgerMenu/burgermenu';
@import '../components/Hero/hero';

// FONTS
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@100&family=Montserrat:wght@600&family=Playfair+Display&display=swap');

// RESET
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Merriweather, sans-serif;
    font-weight: 100;
}

#root {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

a {
    color: $title;
    text-decoration: none;
}

input[type='text'] {
    border: none;
    outline: none;
    background-color: unset;
}
